.row{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.card{
    margin: 30px;
   background-color: rgb(174, 194, 194);
}
body{
    background-color: rgb(214, 230, 230);
}

.titulo{
    margin-top: 20px;
    text-align: center;
}

.card-body{
    text-align: center;
    
    
}

.btn{
    padding-left: 30px;
    padding-right: 30px;
}