.imgemp{
    display: flex;
    border-radius: 8px; 
    width: 200px;
    
}

.imgdiv{
    display: flex;
    justify-content:center;

}

.accordion-body{
        text-align: center;
    background-color: rgb(#c3eeeb);
}

footer{
    text-align: center;
    background-color: rgb(188, 245, 245);
    padding: 60px;
    margin-top: 40px;
}