.imgemp{
    display: flex;
    border-radius: 8px; 
    width: 200px;
    
}

.imgdiv{
    display: flex;
    justify-content:center;

}

.accordion-body{
        text-align: center;
    background-color: rgb(#c3eeeb);
}

footer{
    text-align: center;
    background-color: rgb(145, 121, 121);
    padding: 60px;
    margin-top: 40px;
    color: #c3eeeb;
}

.tituloindex{
    display: flex; 
    justify-content: center;
    
}

.coloratodo{
    background-color:rgb(214, 230, 230);
}


.nav{
    background-color: yellow;
}


